{% extends "emr/base.html" %}
{% block content %}	
	<script>
		$(document).ready( function() {
			$(".datepicker").datepicker({ 
	            changeMonth: true,
	            changeYear: true,
	            yearRange: "-100:+0",
	            maxDate: new Date
				});		
			$('.numbersOnly').keyup(function () { 
			    this.value = this.value.replace(/[^0-9\.]/g,'');
			});
		});
	</script>
	
	<form action="{% url 'emr:save' %}" type="get">
		{% csrf_token %}
		<h1>Create new {{ tablec.name }} record</h1><br/>
		<input type="hidden" name="record_id" value="0">
		<input type="hidden" name="table_id" value="{{ tablec.id }}">		
		<table class="table" id="hor-minimalist-b">
			{% for field in tablec.fields %}
				<tr>
					<td><b>{{ field.name }}</b></td>
					<td>
						{% if field.type == 0 %}
							<input type="date" class="datepicker" name="{{ field.field_id }}"> (mm/dd/yyyy)
						{% elif field.type == 1 %}
							<input type="text" class="numbersOnly" name="{{ field.field_id }}"> (number only)
						{% elif field.type == 2 %}
							<input type="text" name="{{ field.field_id }}">
						{% elif field.type == 3 %}
							<select name="{{ field.field_id }}">
								{% for choice in field.select %}
									<option value="{{ choice }}" >{{ choice }}</option>
								{% endfor %}				
							</select>										
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		<br/>
		<table>
			<tr>
				<td><input type="submit" name="edit" value="Save" class="button"/></td>
				<td width="70%">&nbsp;</td>
				<td></td>			
			</tr>
		</table>
	</form>
{% endblock %}