{% extends "emr/base.html" %}

{% block content %}	
	<h1>View {{ record.2 }} record</h1><br/>
	<p></p>
	<table class="table" id="hor-minimalist-b">
		{% for field in record.3 %}
			<tr>
				<td><b>{{ field.3 }}</b></td>
				<td>{{ field.4 }}</td>
			</tr>
		{% endfor %}
	</table>
	<p></p>
	{% with record_id=record.1 table_id=record.0 %}	
	
		<table class="tablep">
			<tr>
				<td width='10%'><a href="{% url 'emr:patient' record.4 %}" class="btna">Patient</a></td>
				<td width='10%'><a href="{% url 'emr:edit' table_id record_id %}" class="btne">Edit</a></td>
				<td width='10%'><a href="{% url 'emr:deleterecord' table_id record_id %}" class="btnd">Delete</a></td>
			</tr>
		</table>	

	{% endwith %}

{% endblock %}