{% extends "emr/base.html" %}

{% block content %}	

	<h1>View {{ record.2 }} record</h1><br/>
	<table class="table" id="hor-minimalist-b">
		{% for field in record.3 %}
			<tr>
				<td><b>{{ field.3 }}</b></td>
				<td>{{ field.4 }}</td>
			</tr>
		{% endfor %}
	</table>
	<br/>
	{% with record_id=record.1 table_id=record.0 %}	
		<form action="{% url 'emr:edit' table_id record_id %}">
			<table>
				<tr>
					<td><input type="submit" class="button" value="Edit"/></td>
					<td width="70%">&nbsp;</td>
					<td><input type="submit" href="#" name="delete" value="Delete" class="button"/></td>
				</tr>
			</table>
		</form>
	{% endwith %}
{% endblock %}