{% extends "emr/base.html" %}
{% block content %}	
	<script>
		$(document).ready( function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'yy-mm-dd',
	            changeMonth: true,
	            changeYear: true,
	            yearRange: "-100:+0",
	            maxDate: new Date
				});		
			$('.numbersOnly').keyup(function () { 
			    this.value = this.value.replace(/[^0-9\.]/g,'');
			});
		});
	</script>
	
	<form action="{% url 'emr:save' %}" type="get">
		{% csrf_token %}
		<h1>Edit {{ record.2 }} record</h1><br/>
		<input type="hidden" name="record_id" value="{{ record.1 }}">
		<input type="hidden" name="table_id" value="{{ record.0 }}">		
		<table class="table" id="hor-minimalist-b">
			{% for field in record.3 %}
				<tbody>
				<tr>
					<td><b>{{ field.3 }}</b></td>
					<td>
						{% if field.1 == 0 %}
							<input type="date" class="datepicker" value="{{ field.4 }}" name="{{ field.0 }}">
						{% elif field.1 == 1 %}
							<input type="text" class="numbersOnly" {% if field.4 != None %}value="{{ field.4 }}"{% endif %} name="{{ field.0 }}"> (number only)
						{% elif field.1 == 2 %}
							<input type="text" 
							{% if field.3 == 'MSF ID' %} class="numbersOnly"{% endif %} 
							{% if field.4 != None %}value="{{ field.4 }}"{% endif %} 
							name="{{ field.0 }}">
						{% elif field.1 == 3 %}
							<select name="{{ field.0 }}">
								{% for choice in field.5 %}
									<option value="{{ choice }}" {% if choice == field.4 %}selected="selected"{% endif %}>{{ choice }}</option>
								{% endfor %}				
							</select>										
						{% elif field.1 == 4 %}
							<div class="textdiv"><textarea name="{{ field.0 }}" {% if field.4 != None %}value="{{ field.4 }}"{% endif %}></textarea></div>
						{% endif %}
					</td>
				</tr>
				</tbody>
			{% endfor %}
		</table>
		<br/>		
		<table class="tablep">
			<tr>
				<td><input type="submit" name="edit" value="Save" class="btne"/></td>
				<td width='10%'><a href="{% url 'emr:patient' record.4 %}" class="btne" onclick="return confirm('The changes made are not going to be saved. Are you sure?')">Patient</a></td>
			</tr>
		</table>
	</form>
{% endblock %}