{% extends "emr/base.html" %}

{% block content %}
	<div align="center">
		<form action="{% url 'emr:results' %}" type="get">
			{% csrf_token %}
			<p><br/></p>
			<input type="text" id="searchstring" name="searchstring" value=""  size="50" class="button"/><br/>
			<select name="tablesearch" class="dropdown">
				<option value="0">All tables</option>
				{% for k,v in edbtables %}
				<option value="{{ k }}">{{ v }}</option>
				{% endfor %}				
			</select>				
			<input type="submit" name="search" value="Search" class="button"/>
		</form>
	</div>
	<form action="{% url 'emr:addrecord' %}" type="get">
		{% csrf_token %}
		<div class="container" align="center">
			<br/>
			<h3>OR</h3>
			<br/><br/>
			<select name="recordtable" class="dropdown">
				<option value="0">Select a type</option>
				{% for k,v in edbtables %}
				<option value="{{ k }}">{{ v }}</option>
				{% endfor %}				
			</select>
			<input type="submit" name="addrecord" value="Add record" class="button"/>
			<br/><br/><br/><br/>
		</div>
	</form>
{% endblock %}