{% extends "emr/base.html" %}

{% block content %}
	<section class="hero is-fullheight">
		<br/>
		<div align="center" class="specialAndroid"><br/>
			<a href="zxing://scan/?ret=http%3A%2F%2F192.168.8.102/nut/results/?searchstring=%7BCODE%7D&search=SEARCH" class="button is-doudou go">Scan</a>
			<h1 class="title has-text-centered is-doudou">or</h1>
		</div>
		<br/>
		<div align="center"><br/>
			<form action="{% url 'emr:results' %}" type="get">
				<table>
					<tr><input type="text" id="searchstring" placeholder="Access by ID or search patients" name="searchstring" class="searchbox"/></tr>
					<tr>&nbsp;</tr>
					<tr><b>&</b></tr>
					<tr>&nbsp;</tr>
					<tr><input type="submit" name="search" value="SEARCH" class="searchnow"/></tr>
				</table>
			</form>
		</div>
		{% if easyUser.tables.1.add_table %}
			<h1 class="title has-text-centered is-doudou">or</h1>
			<div align="center">
				{% with table_id='1' related_record_entry='0' %}
					<a href="{% url 'emr:addrecord' table_id related_record_entry %}" class="button is-doudou go">Add patient</a>
				{% endwith %}
			</div>
			<p></p>
		{% else %}
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		{% endif %}

		{% if easyUser.canExport %}
			<div align="center"><br/><br/>
				<h1 class="title has-text-centered is-doudou">Data:</h1>
				<a href="{% url 'emr:downloadabsents' %}" accesskey="2" class="button is-doudou go">Get absents ( > 7 and < 14 days)</a><br/>
				<a href="{% url 'emr:downloaddefaulters' %}" accesskey="2" class="button is-doudou go">Get unregistred defaulters ( > 14 days)</a><br/>
				<a href="{% url 'emr:downloadexport' %}" accesskey="2" class="button is-doudou go">Export all</a><br/>
				<a href="{% url 'emr:downloadbackup' %}" accesskey="2" class="button is-doudou go">Download backup</a><br/>
        <br/>
        <a href="{% url 'emr:export_excel_list' %}" accesskey="2" class="button is-doudou go">Export Excel</a><br/>
        <a href="{% url 'emr:export_excel_full' %}" accesskey="2" class="button is-doudou go">Export Excel Full</a><br/>
        <a href="{% url 'emr:export_data_model' %}" accesskey="2" class="button is-doudou go">Export Data Model</a><br/>
			</div>
		{% endif %}

	</section>
{% endblock %}
