{% extends "builder/base.html" %}

{% block builder_content %}
  <div class="columns">
    <div class="column is-12 scroll">
      <table>
        <tr>
          <td><span class="subtitle">Create new Model</span></td>
          <td width="5%"><a href="javascript:history.back()" class="button is-mei careful" onclick="return confirm('The changes made are not going to be saved. Are you sure?')">Back</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12 scroll">
    </div>
  </div>
{% endblock builder_content %}
